{% extends '/frame/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col text-center">
                <h1>WELCOME TO THE USER MANAGEMENT</h1>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row"></div>
    </div>
    <div class="container mt-5">
        <div class="row"></div>
    </div>
    <div class="container mt-5">
        <div class="row"></div>
    </div>

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col text-center">
                <h3>Here, you can easily and efficiently manage all users, enjoying a more streamlined experience and increased efficiency in your management tasks.</h3>
            </div>
        </div>
    </div>

{% endblock %}